/*------------------- RESET -------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------- DEBUG -------------------*/
.debug{
    border: 2px dashed rgb(255, 0, 0);
}

/*------------------- GENERAL -------------------*/
.container {
    display: flex;
    width: 1160px;
    margin: auto;
}
section {
    /* border: 2px dashed rgb(0, 0, 0); */

}

/*------------------- BACKGROUND -------------------*/

header {
    background-color: rgb(173, 216, 230);
    padding: 12px;
}

.menu {
    justify-content: space-between;
}

.menu > div {
    background-color: rgb(218, 165, 32);
    border: 1px dashed black;
    line-height: 30px;
}

.logo, .login {
    width: 20%;
}

.link {
    width: 60%;
    text-align: center;
}
.hero {
    background-color: blue;
    justify-content: center;
    padding: 50px 0;
}
.square {
    background-color: rgb(238, 130, 238);
    width: 900px;
    height: 400px;
}
