/*------------------- RESET -------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------- DEBUG -------------------*/
.debug{
    border: 2px dashed rgb(255, 0, 0);
}

/*------------------- GENERAL -------------------*/
.container {
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 0 auto;
}

.bg-menu {
    background-color: rgb(173,216,230);
    padding: 10px 100%;
}

.menu {
    background-color: rgb(218, 165, 32);
    display: flex;
    width: 1160px;
    line-height: 30px;
}

p {
    width: 60%;
    text-align: center;
}
.logo {
    width: 20%;
}
.login {
    width: 20%;
    text-align: right;
}

div {
    border: 1px solid black;
}